body {
  background-color: lightgray;
  font-family: helvetica;
  text-shadow: 2px 2px gray;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  color: #fff;
}


header {
  height: 50px;
  background-color: #373737;
}

header p {
  margin: 0px 0px 0px 20px;
  color: #fff;
  line-height: 46px;
  font-size: 1.4em;
  text-shadow: none;
}

.stopwatch {
  font-size: 6em;
  color: #fff;
  text-align: center;
  font-weight: 100;
}


.center-container {
  margin-top: 200px;
  margin-left: 30%;
  margin-right: 30%;
  width: auto;
}

.tracked-activity {
  margin-top: 40px;
  width: 100%;
  float: right;
  box-shadow: 3px 3px 10px gray
}

.center-container input {
  height: 50px;
  float: left;
  width: calc(100% - 255px);
  margin: 0;
  border: none;
  padding: 0;
  padding-left: 5px;
}

.input-time {
  float: left;
  width: 100px;
  height: 50px;
  background-color: #fff;
  text-shadow: none;
  text-align: center;
}

.stop-task {
  width: 100px;
  background-color: #373737;
  color: #fff;
  float: left;
}

.stop-task:hover {
  background-color: #454545;
  cursor: pointer;
}

.new-task {
  width: 50px;
  background-color: #47be00;
  color: #fff;
  float: left;
}

.new-task:hover {
  background-color: #27d144;
  cursor: pointer;
}

.btn {
  height: 50px;
  margin: 0;
  border: none;
  padding: 0;
}

.task-list {
  float: right;
  width: 100%;
  border-bottom: solid 1px gray;
}

.task-list li {
list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
